body {
    background-image: url("../images/wallpaper_yosemite_archive_1024x768.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center, center;
    background-color: black;
}

.container {
    width: fit-content;
}


.card {
    display: block;
    text-align: center;
    margin: 40px;
    margin-bottom: 20px;
    border-color: white;

    
}

.card-header {
    font-weight: bolder;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

#letters-matched-text,
#wrong-guesses-text,
#guesses-left-text,
#wins-text,
#losses-text {
    padding: 15px;
    font-weight: bolder;
   
}

