body {
    background-image: url("../images/wallpaper_yosemite_archive_1024x768.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center, center;
    background-color: black;
}

.container {
    width: fit-content;
}


.card {
    display: block;
    text-align: center;
    margin: 40px;
    margin-bottom: 20px;
    border-color: white;
    
}

#letter-text,
#wrong-guesses-text,
#guesses-left-text,
#wins-text,
#losses-text {
    padding: 10px;
   
}

/* #letter-text,
#wrong-guesses-text,
#guesses-left-text,
#wins-text {
    border-bottom: 1px solid;
    border-color: gray;
} */